[Actions for {{ kodi_user_name }} user]
Identity=unix-user:{{ kodi_user_name }}
Action=org.freedesktop.devicekit.power.*;org.freedesktop.upower.*;org.freedesktop.consolekit.system.*;org.freedesktop.login1.*
ResultAny=yes
